<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/c63e399f09.js" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>
<body>
    <header class="home_header" >

        <div class="home_header_buscador_logo">

<div class="home_header_logo">

                 <img   src="/images/logo-mercado-liebre.svg" alt="">
                </div>

<div class="home_header_buscador">
  <div class="header_buscador--box">
  
        <input type="text" placeholder="Buscar productos..">
        <button>
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>
  
    </div>


    
<div class="home_header_subtitulo">
    <i class="fa-solid fa-hand-holding-heart" ></i> <p class="parrafo">Comprá en cuotas y sin tarjeta de crédito</p>
</div>

</div>






</div>

<div class="nav_los2">
     
     <nav class="home_header_nav_1">
        <ul>
        
        <li ><a href="/">Ofertas  </a></li> 
        <li><a href="/">Tiendas Oficiales</a></li>
        <li><a href="/">Vender</a></li>
        <li><a href="/">Ayuda</a></li>
    </ul>
     </nav >

     <nav class="home_header_nav_2">
        <ul>
        
        <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-user"></i> </a></li>
        <li><a href="/login">Ingresar <i class="fa-solid fa-right-to-bracket"></i> </a></li>
        <li><a href="/">MIs compras <i class="fa-solid fa-basket-shopping"></i> </a></li>

    </ul>
        
     </nav>
    </div>
     <div class="home_header_i">

        <div class="home_header_i--icono">

     <i class="fa-solid fa-bars" ></i>
    </div>
    </div>
  
    </header>


    <main class="register_main">
        

     <form action="/" >


<figure class="register_profile--imagen">
 

        <img src="/images/Group 12.png" alt="" class="register_img">
    </figure>

    <h2 class="register_h2">Usuario</h2>

        <div class="register_usuario">
            <input type="name" placeholder="Nombre" minlength="4">
            <input type="text"  placeholder="Apellido" minlength="4">
            <input type="email"  placeholder="Email">
            <input type="text"  placeholder="Domicilio" minlength="7">
            <input type="date">
        </div>

<h2  class="register_h2">Perfil de Usuario</h2>
        
                           
                   <div class="register_perfil_usuario">


                    <label for="" > 
                    <input type="radio" name="medio" value="Comprar">
                  Comprar
                   </label>
                   
                   
                    <label for="">
                    <input type="radio" name="medio" value="vender">
                   Vender
                   </label> 
                   
                   
                           </div>


                           <h2 class="register_h2">Intereses</h2>



<div class="register_intereses">
<label for="">
<input type="checkbox" name="intereses">
Electro
</label>

<label for="">
<input type="checkbox" name="intereses">
Moda
</label>

<label for="">
    <input type="checkbox" name="intereses">
    Hogar
    </label>
    
    <label for="">
    <input type="checkbox" name="intereses">
   Jugueteria
    </label>

    <label for="">
        <input type="checkbox" name="intereses">
       Vida Sana
        </label>
    





</div>



<h2  class="register_h2">Contraseña</h2>


           <div class="register_contraseña">


           
            <input type="password" name="medio" value="Masculino" placeholder="Contraseña" a>

            <input type="password" name="medio" value="Masculino" placeholder="Confirmar contraseña">
         
          
           
           
           
           
                   </div>


<div class="register_botones">

    <input type="submit" class="register_registrar input_enviar_borrar">

    
 



    <input type="reset" value="Borrar" class="register_borrar input_enviar_borrar">
   
</div>

<h2 class="register_h2">Ya tenes una cuenta? <a href="/login" class="register_link">Inicia Sesion</a></h2>



     </form>
    </main>


    <footer class="home_footer">



        <section>
            <i class="fa-solid fa-credit-card" class="home_footer_section_icono"></i>
            <h3 ><b>Pagá con tarjeta o en efectivo</b></h3>
            <p class="home_footer_parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h3 ><b>Envios gratis desde los 2.500</b></h3>
            <p class="home_footer_parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-shield-halved"></i>
            <h3 ><b>Pagá con tarjeta o en efectivo</b></h3>
            <p class="home_footer_parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
    
        <p class="home_footer_parrafo_final">Copyright 1999-2020 Mercado Liebre S.R.L</p>
        </footer>




</body>
</html>