
.home{
    background-color: var(--Gris_claro);
    margin: 0;
    font-family:var(--Tipografia);
}



.home_header{
    background-color:var(--Amarillo);
    padding-bottom: 15px;
    padding: 25px;
    
}





.home_header_buscador_logo   {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}





.home_header_i{
    display: flex;
    justify-content: center;
  
}


.home_header_i--icono{
    content: "\f0c9";
    background-color:var(--Celeste);
    color: white;
    padding: 9px;
    border-radius: 3px;
}

.home_header_logo img{
    width: 90%;
  
    
}



.home_header_logo{
    width: 50%;
  
    
}

.home_header_banner{
    width: 100%;
}

.home_header_buscador_container_buscadorcontenido{
    background-color: white;
   height: 40px;
   border-radius: 7px;
   
 }
 
 
 .home_header_buscador_container_buscadorcontenido input{
     
         border: 0;
         padding: 10px;
         width: 140px;
        border-radius: 10px;
 
       
 }
 
 
 .home_header_buscador_container{
     background-color: white;
     height: 40px;
     width: 200px;
     border-radius: 10px;   
 }
 
 
 .home_header_buscador{
     width: 50%;
 }
 
 .parrafo{
     
     margin: 0;
     display: inline-block;
     text-align: center;
     
     
 } 
 
 .home_header_subtitulo{
   
      left: 50px; 
     margin: 10px;
     display: flex;
 }



 .home_header_nav_1 {
    display:none
}


.home_header_nav_2 {
    display:none
}

 
 



.home_main_article--descripcion{
    background-color: white;
    display: inline-block;
    width: 100%;
  
    border-top: 1px solid #ebebeb;
    position: relative;
   padding: 20px 20px;
}










.home_main_article--descripcion i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: 0.3s;
}




.home_main_article--imagen{
    background-color: white;
    margin: 0;
    display: inline-block;
    width: 100%;
}








 
 .home_main_section--descripcion{
    margin-top: 5px;
   
 }


 
 



.home_main_section article {

  border-radius: 10px 10px;
 /*  background-color: var(--Gris_oscuro); */
 /*   box-shadow: 10px 10px 30px #878787;  */
   margin: 10px;
   background-color: white;

}

.home_main_section article img{

    width: 100%;
   

}

.home_main_section article h3{


}


.home_main_section h1{
    text-align: center;
}

.home_main_section h2{
 

   
}



.home_main_descuento{
    color:var(--Verde);
    font-size: var(--Descuentos);
}


.home_main_descripciones{
    font-size: var(--Descripciones);
   
}







.home_footer_parrafo{
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
}


.home_footer section h3{
    margin-top: 10px;
    margin-bottom: 0;
 }


 .home_footer{
    background-color: white;
    padding-top: 70px;
  margin: 5px;
}

.home_footer section{
   color:var(--Gris_oscuro);
   margin: 10px 10px 10px 10px;
   text-align: center;

   
}



.fa-bars{
    align-items: center;
}


/* .fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
    background-color:var(--Celeste);
    color: white;
    padding: 9px;
    border-radius: 3px;
  
    
   
} */


.footer_caja i {
    color: var(--Celeste);
    font-size: 40px;
    margin-top: 30px;
    transition: 0.5s;
    
}

 /* .fa-credit-card:before {
    content: "\f09d";
    color: var(--Celeste);
    font-size: 40px;
    margin-top: 30px;
   
} 


.fa-gift:before {
    content: "\f06b";
    color: var(--Celeste);
    font-size: 40px;
    margin-top: 30px;
}

.fa-shield-halved:before {
    content: "\f3ed";

    color: var(--Celeste);
    font-size: 40px;
    margin-top: 30px;
}
 */


.home_main_section--titulo{
 font-size: var(--Titulares); 
}


.home_main_section--precio{
    font-size: var(--Precios);
}


.home_footer_parrafo_final{
    text-align: center;
}










.home_main_article--precio_descuento {
    display: flex;
    flex-wrap: wrap;
   
}

.home_main_article--precio_descuento p{
   width: 30%;
}

.home_main_article--precio_descuento span{
    width: 70%;
   
}




.header_buscador--box {
    position: relative;
}



.header_buscador--box button {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
background-color: white;

}


.header_buscador--box input {
   width: 100%;
   padding: 5px;
   border:none;
   border-radius: 5px;
  padding-right: 20px;
}

.fadeTop {
    opacity: 0; 
    transform: translate(0, 10vh);
    transition: all 1s;
  } 



    
.visible {
    opacity: 1;
    transform: translate(0, 0);
  }


  
  
  








@media(min-width:361px) {

    .home_header_buscador_logo{
        display: flex;
    }
    
    .nav_los2 ul{
        display: flex;
        gap: 20px;
       
    }
    
    
    .nav_los2{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20px;
       
    }

    .home_main_article--contenedor-flex   {
        display: flex;
        flex-wrap: wrap;
         justify-content: center;
       
    }






    .home_main_section article {

        border-radius: 10px 10px;
       /*  background-color: var(--Gris_oscuro); */
       /*   box-shadow: 10px 10px 30px #878787;  */
         margin: 10px;
    width: 42%;
      }









    .home_header_nav_1 {
        display: block;
    }

    
    
    .home_header_nav_2 {
        display:block
        
    }



    .home_header_i--icono{
        display:none








        
    }














    .home_main_section article {

      
 
         box-shadow: 0px 0px 10px rgb(100,100, 100)
     
      
      }



   /*    .home_main_descripciones{
       display:none
    } */


    .home_header_logo{
        width: 30%;
      }

      .home_header_buscador {
        width: 30%;
    }

    .home_header_subtitulo {
        
        width: 30%;
    }

}







@media(min-width:769px){
    .home_header_nav_1 {
        display: block;
    }
    
    
    .home_header_nav_2 {
        display:block
        
    }



    .home_header_i--icono{
        display:none
    }



    .home_header_subtitulo {
        margin-top: 20px;
        position: relative;
        margin: 25px;
        text-align: center;
    }

    
    
    
    .home_main_article--contenedor-flex   {
        display: flex;
        flex-wrap: wrap;
         justify-content: center;
       
    }


    .home_main_section article {

        border-radius: 10px 10px;
       /*  background-color: var(--Gris_oscuro); */
       /*   box-shadow: 10px 10px 30px #878787;  */
         margin: 10px;
      width:20%
      }


      
      .home_header_logo{
        width: 30%;
      }


      
      
      .header_buscador--box {
        width: 100%;
      }



      
      
      .home_header_subtitulo {
        width: 30%;
      }


      
      .home_header_buscador_logo {
        align-items: center;
      }

      .home_header_buscador {
        width: 30%;
    }



    
    
    
     


     .home_main_article--descripcion i:hover{
        transform:rotate(-90deg)
    }
    
    


    .home_main_section article {

       
 
        box-shadow: none;
       
     
     }

     .home_main_section article:hover {

      
 
        box-shadow: 0px 0px 10px rgb(100,100, 100)
    
     
     }

     
     .home_footer{
        
     }




     
     .footer_caja:hover i{
      color: black;
     }

     
     .home_footer_flex{
        display: flex;
     }

     
     
     
     
     
     
     
     
     
     
     
     
     .fit-content {
      
        height: fit-content;
       
          
        }
      



     .home_main_descripciones   {
      
  height: 0;
 
    transition: all 0.5s;
   
  
     overflow: hidden; 
  }


   .home_main_article:hover .home_main_descripciones  {
     
    height: 50px;
    
  } 

 /*  .home_main_article2:hover .home_main_descripciones  {
     
    height: 50px;
    
  } 


  .home_main_article3:hover .home_main_descripciones  {
     
    height: 50px;
    
  } 



  .home_main_article4:hover .home_main_descripciones  {
     
    height: 50px;
    
  }  */


  
  
 



}




