
body{
    background-color: #d4d4d4;
    margin: 0;
}



header{
    background-color: #EAC926;
}

.logo{
    width: 160px;
     position: relative;
    top: 18px; 
    
}

.banner{
    width: 100%;
}

.ultima_vista article {

  border-radius: 10px 10px;
  background-color: white;
   box-shadow: 10px 10px 30px #878787; 
   margin: 13px;

}

.ultima_vista article img{

    width: 100%;

}

.ultima_vista article h3{

color: green;
}


.ultima_vista h1{
    text-align: center;
}

.ultima_vista h2{
 
   position: relative;
   left: 40px;
   
}


footer{
    background-color: black;
}

footer section{
   color: white;
   margin: 10px 10px 10px 10px;
}

li{
    list-style-type: none;
  
};

li a{
    text-decoration: none
  
};




.buscar{
   background-color: white;
  height: 40px;
  
}


.buscar input{
    /* 
         background-color: black; */ 
        border: 0;
        padding: 10px;
        width: 140px;
       border-radius: 10px;

      
}


.buscar0{
    background-color: white;
    height: 40px;
    width: 200px;
    border-radius: 10px;   
}


.buscarYimagen{
    display: inline-block
}

.parrafo{
    
    margin: 0;
    display: inline-block;
    text-align: center;
    
    
} 

.parrafoyicono{
    position: relative;
    left: 50px;
    margin: 5px;
}