:root{
--Amarillo:#EAC926;
--Azul:#03264C;
--Celeste:  #1259c3;
--Gris_oscuro:#666;
--Gris_claro:#ebebeb;
--Verde:#39b54a;
--Tipografia:'Roboto',sans-serif;
--Cuerpos_de_texto: 12px;
--Titulares: 24px;
--Precios: 18px;
--Descuentos: 16px;
--Descripciones: 16px

}




